/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(-90deg, #0A6EBD 80%, #ffff 20%); 
}

#navbar{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #4477CE;
}

.name{
	font-family: 'Caveat', cursive;
}

.description{
	background-color: rgb(250, 240, 215,0.3);
	border-radius: 20px;
	padding: 5px;
	font-size: 1.5rem;
}

.img-bg{
	background-color: #0A6EBD;
	border: 20px solid white;
	outline: 10px solid #0A6EBD;
}

#project-card {
	width: 25rem;
}

.tab-bg{
	background-color: #0A6EBD;
	border: 20px solid white;
	outline: 10px solid #0A6EBD;
	border-radius: 120px;
}

.carousel-img{
	border-radius: 25px;
	border: 10px inset gray;
}

#core-tools{
	background-color: rgb(250, 240, 215,0.3);
	border-radius: 20px;
	padding: 5px;
}

.form{
	border-radius: 20px;
}