/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background: linear-gradient(-90deg, #068FFF 80%, #ffff 20%); 
}

#navbar{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #4477CE;
}

.name{
	font-family: 'Caveat', cursive;
}

.img-bg{
	background-color: #068FFF;
	border: 20px solid white;
	outline: 10px solid #068FFF;
}

#project-card {
	width: 25rem;
}

.tab-bg{
	background-color: #068FFF;
	border: 20px solid white;
	outline: 10px solid #068FFF;
	border-radius: 120px;
}

.carousel-img{
	border-radius: 25px;
	border: 10px inset gray;
}